<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitSQUAD VIT Vellore</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="icon" href="/images/digitsquad logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/glider.css">
</head>
<body style="background-color: rgb(24, 26, 27); color:rgb(197, 247, 225); overflow-x: hidden;">
    <nav class="sticky-top">

        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <ul class="nav-links">
          <li><a href="/"><img src="/images/Watermark 1.png" height="44px" width="105px"   id="logo_club"></a></li>
          <li id="gone"></li>
          <li id="gone"></li>
          <li id="gone" ></li>
          <li id="gone"></li>
          <li id="gone"></li>
          <li id="gone"></li>
          <li><a href="/">About</a></li>
          <li><a href="/Tech-Updates">Tech-Updates</a></li>
          <li><a href="/Events">Events</a></li>
          <li><a href="/Blogs">Articles</a></li>
          <li><a href="/Team">Our Team</a></li>
        </ul>
      </nav>
      <br>
      <a href="/Blog" style="text-decoration: none; color: black;">
      <div class="row justify-content-center mobile_center">
      <div class="col-md-4 col-sm-6 flex_board" data-aos="fade-right">
        <div class="card shadow h-100" style="width: 15rem;background-color:  rgb(24, 26, 27);">
          <br>
          <div class="inner" style="width: 100%; background-color: rgb(24, 26, 27);;"><img src="/images/article/crypto1.png" class="card-img-top rounded" alt="...">
            <div class="card-body" style="margin-bottom: -5%; width: 90%;">
              <h5 style="width: 115%;color:rgb(164, 245, 245) ;"><strong> Decrypting Crypto</strong></h5>
            </div>
          </div>
        </div>
      </div>
      </div>
    </a>
    <footer id="contact-us" style="bottom: 0; position: absolute;background-color: #1e2022; width: 100%;">
        <div class="footer-container">
          <!-- <div class="row"> -->
          <!-- <div class="col col-lg-4">
              <h2>Write To Us</h2>
              <div class="border"></div>
              <form action="mailto:digit-squad@digit.in" method="post" enctype="text/plain" class="newsletter-form">
                <div class="form-group">
                  <input type="text" name="Name" class="txtb2" placeholder="Enter Your Name" required>
                </div>
                <div class="form-group">
                  <input type="email" name="Email" class="txtb2" placeholder="Enter Your Email" required>
                </div>
                <div class="form-group">
                  <input type="tel" name="Mobile_Number" class="txtb2" placeholder="Enter Your Mobile Number" required>
                </div>
                <div class="form-group">
                  <textarea name="Message" class="txtb2" id="txtarea"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn-submit" value="submit">
                </div>
                
              </form>
            </div> -->
          <!-- <div class="col col-lg-auto">
              <h2 >Our Newsletter</h2>
              <div class="border"></div>
              <h5>Enter your <strong>email</strong> to get our news and updates.</h5>
              <form action="https://formspree.io/f/xrgoyobr" method="post" enctype="text/plain" class="newsletter-form form-inline">
                <div class="form-group">
                  <input type="text" name="Email" class="txtb" placeholder="Enter Your Email" required>
                </div>
                <input type="submit" class="btn-submit" value="submit">
              </form>
            </div> 
            </div>  -->
        </div>
        <div class="social-media" style="text-align: center; color: #fff;">
          <h4>Mail us at :- <strong><a href="mailto:digitsquad@vit.ac.in"
                style="color: #fff;">digitsquad@vit.ac.in</a></strong></h4>
        </div>
        <div class="social-media" style="text-align: center; color: #fff;">
          <h4>Follow us on :- </h4>
          <a class="social-links" target="_blank" href="https://discord.com/invite/mRtjcQwBDK"><i
              class="fab fa-discord fa-2x" style="color: #fff;"></i></a>
          <a class="social-links" target="_blank" href="https://www.facebook.com/digitsquadvitv"><i
              class="fab fa-facebook fa-2x" style="color: #fff;"></i></a><a class="social-links" target="_blank"
            href="https://www.instagram.com/digitsquad_vit/"> <i class="fab fa-instagram fa-2x"
              style="color: #fff;"></i></a><a class=" social-links" target="_blank" href="https://in.linkedin.com/"><i
                class="fab fa-linkedin fa-2x" style="color: #fff;"></i></a> 
        </div>
        <p class=" rights-text" style="text-align: center; color: #fff;">© 2020 Created By DigitSQUAD VIT</p>
      </footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.3/glider.min.js"
    integrity="sha512-NI5tuaiyhrV4EkyHBGHJj9uaL6uu7fz/WCoMnEwvHi8WXTKZ9f8P1v517sdTGVpT31/UEHRdLMuNdPon9F3HUg=="
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
    crossorigin="anonymous"></script>
  <script>
    const hamburger = document.querySelector('.hamburger');
    const navlinks = document.querySelector('.nav-links');
    const links = document.querySelectorAll('.nav-links li');
    const lines = document.querySelectorAll('.line');

    hamburger.addEventListener('click', () => {
      navlinks.classList.toggle('open');
      links.forEach((link) => {
        link.classList.toggle('fade');
      });
      lines.forEach((line) => {
        line.classList.toggle('cross');
      });
    });

  </script>
  <script>

    (function ($) {
      $.fn.timeline = function () {
        var selectors = {
          id: $(this),
          item: $(this).find(".timeline-item"),
          activeClass: "timeline-item--active",
          img: ".timeline__img"
        };
        selectors.item.eq(0).addClass(selectors.activeClass);
        selectors.id.css(
          "background-image",
          "url(" +
          selectors.item
            .first()
            .find(selectors.img)
            .attr("src") +
          ")"
        );
        var itemLength = selectors.item.length;
        $(window).scroll(function () {
          var max, min;
          var pos = $(this).scrollTop();
          selectors.item.each(function (i) {
            min = $(this).offset().top;
            max = $(this).height() + $(this).offset().top;
            var that = $(this);
            if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
              selectors.item.removeClass(selectors.activeClass);
              selectors.id.css(
                "background-image",
                "url(" +
                selectors.item
                  .last()
                  .find(selectors.img)
                  .attr("src") +
                ")"
              );
              selectors.item.last().addClass(selectors.activeClass);
            } else if (pos <= max - 40 && pos >= min) {
              selectors.id.css(
                "background-image",
                "url(" +
                $(this)
                  .find(selectors.img)
                  .attr("src") +
                ")"
              );
              selectors.item.removeClass(selectors.activeClass);
              $(this).addClass(selectors.activeClass);
            }
          });
        });
      };
    })(jQuery);

    $("#timeline-1").timeline();

  </script>
  <script>

    AOS.init({
      duration: 2200,
    })
  </script>
</body>

</html>