<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitSQUAD VIT Vellore</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="icon" href="/images/digitsquad logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/glider.css">
    <style>
      #line {
            width: 110px;
            height: 4px;
            background-color: #a86060;
            margin-left: 7px;
        }
    </style>
</head>
<body>
    <nav class="sticky-top">

        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <ul class="nav-links">
          <li><a href="/"><img src="/images/Watermark.png" height="60px" width="151px"   id="logo_club"></a></li>
          <li>
          </li><li>
          </li><li><li>
          </li><li>
          </li><li>
          </li>
          </li>
          <li><a href="/">About</a></li>
          <li><a href="/Tech-Updates">Tech-Updates</a></li>
          <li><a href="/Events">Events</a></li>
          <li><a href="/Blog">Blogs</a></li>
          <li><a href="/Team">Team</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <div class="container">
  <h1 >Events</h1>
  <div id="line"></div>
  <br>


  <div class="row justify-content-center">
    <!--
    <div class="col-md-4 col-sm-6" data-aos="fade-right">
                      <div class="card shadow h-100" style="width: 22rem;">
                          <div class="inner"><img src="/images/recruitment-event.jpeg" class="card-img-top" alt="...">
                          </div>
                          <div class="card-body">
                            <h4 class="card-title" style="font-family: Langar;">Recruitments</h4>
                            <p class="card-text">Do not let the geek and tech enthusiast inside you stay dormant. We are a community filled with gadget freaks and geeks who love all things tech. From new gadgets to the latest innovations, we study and learn all of them! Do join us for the recruitment to be a part of a premier community and the biggest student tech community in India.</p>
                          </div>
                      </div>
    </div>
    -->
    <div class="col-md-4 col-sm-6" data-aos="fade-right">
                      <div class="card shadow h-100" style="width: 22rem;">
                          <div class="inner"><img src="/images/eighth.png" class="card-img-top" alt="...">
                          </div>
                          <div class="card-body">
                            <h4 class="card-title" style="font-family: Langar;">THE SMARTPHONE GAMES</h4>
                            <p class="card-text">There are many companies which produce smartphones, and each company tries to survive by producing the right product identifying the consumer group and their preferences. Some phones are high on budget and some phones are really pocket friendly offering decent quality and specs. We have dived deep into the facts for different companies and their smartphone game.</p>
                          </div>
                      </div>
    </div>
      <div class="col-md-4 col-sm-6" data-aos="fade-right">
                      <div class="card shadow h-100" style="width: 22rem;">
                          <div class="inner"><img src="/images/seventh.png" class="card-img-top" alt="...">
                          </div>
                          <div class="card-body">
                            <h4 class="card-title" style="font-family: Langar;">FADING BOUNDARY BETWEEN MAN & MACHINE</h4>
                            <p class="card-text">DigitSQUAD is back with another exciting event! As we get closer to the gadgets we use, and machines gaining the capability of what a man can do... We have closely analysed and took a peek into the Boundary which divides a man and a machine. And how it's slowly fading out of existence.</p>
                          </div>
                      </div>
    </div>
  </div>
  <br>
<div class="row justify-content-center">
  <div class="col-md-4 col-sm-6" data-aos="fade-right">
                        <div class="card shadow h-100" style="width: 22rem;">
                            <div class="inner"><img src="/images/sixth.png" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h4 class="card-title" style="font-family: Langar;">AR vs VR</h4>
                              <p class="card-text">Ever heard of Pokemon Go? Well if you have, you’ve witnessed first hand, the wizardry that we tech buffs call Augmented Reality. Technology has opened up a whole new way of making our devices useful by making us experience the digital just like we experience the world we live in. Simply point your camera at what you see, and have your answers where your questions are! Confused? Well, get excited as DigitSquad brings to you the magic of AR/ VR. You’ve caught Pokemon till now, it’s time to catch the tech revolution.</p>
                            </div>
                        </div>
        </div>
        <div class="col-md-4 col-sm-6" data-aos="fade-right">
                        <div class="card shadow h-100" style="width: 22rem;">
                            <div class="inner"><img src="/images/fifth.png" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h4 class="card-title" style="font-family: Langar;">CYBER SAFETY</h4>
                              <p class="card-text">Cyber security and safety has been one of the most important awareness programs being conducted nowadays. We would be hosting an online session followed by a quiz on the settings and optimization tips for protecting ourselves online. These settings and tips will be applicable for all the devices we use. All your FAQs and Quiestions will also be answered by the 'GEEKS' in our club. Winners of the quiz will be featured on our social media handles.</p>
                            </div>
                        </div>
        </div>
        <div class="col-md-4 col-sm-6" data-aos="fade-right">
                        <div class="card shadow h-100" style="width: 22rem;">
                            <div class="inner"><img src="/images/fourth.png" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h4 class="card-title" style="font-family: Langar;">TECHWRAPPED 2020</h4>
                              <p class="card-text">Can you recall the year 2020 for the tech industry?!? The worst of the pandemic couldn't halt the development of the tech industry. There were new launches, new gadgets and many more innovations this year. Finally, every year has to end. As the year end gets closer, get yourself tested with our interactive quiz consisting of 20 questions for the year 2020 in tech. Here's TechWrapped 2020 for you</p>
                            </div>
                        </div>
    </div>
  </div>
  <br>
<div class="row justify-content-center">
  <div class="col-md-4 col-sm-6" data-aos="fade-right">
                    <div class="card shadow h-100" style="width: 22rem;">
                        <div class="inner"><img src="/images/recruitment-event.jpeg" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                          <h4 class="card-title" style="font-family: Langar;">Recruitments</h4>
                          <p class="card-text">Do not let the geek and tech enthusiast inside you stay dormant. We are a community filled with gadget freaks and geeks who love all things tech. From new gadgets to the latest innovations, we study and learn all of them! Do join us for the recruitment to be a part of a premier community and the biggest student tech community in India.</p>
                        </div>
                    </div>
    </div>
    <div class="col-md-4 col-sm-6" data-aos="fade-right">
                    <div class="card shadow h-100" style="width: 22rem;">
                        <div class="inner"><img src="/images/fourthevent.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                          <h4 class="card-title" style="font-family: Langar;">AMA on AMD GPU's</h4>
                          <p class="card-text">We are back with another exciting event for all the geeks. Not only the CPU segment, but AMD has managed to get their name into the GPU market as well. Featuring the new RDNA 2 architecture and Hardware ray tracing support, the latest AMD GPU series has become to be one of the best gaming GPUs.</p>
                        </div>
                    </div>
    </div>
    <div class="col-md-4 col-sm-6" data-aos="fade-right">
                    <div class="card shadow h-100" style="width: 22rem;">
                        <div class="inner"><img src="/images/thirdevent.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                          <h4 class="card-title" style="font-family: Langar;">AMA on AMD CPU's</h4>
                          <p class="card-text">AMD has done it! They have managed to create the fastest single thred performance chip in desktop CPUs. This is nothing short of a technological marvel. But no marvel ever comes without a bunch of questions and doubts arising at the same time. How did they do it? How will it affect our content creation workload? How did AMD achieve 19% more instructions per cycle with the Zen 3?</p>
                        </div>
                    </div>
    </div>
  </div>



  <br>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-6" data-aos="fade-right">
                    <div class="card shadow h-100" style="width: 22rem;">
                        <div class="inner"><img src="/images/secondevent.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                          <h4 class="card-title" style="font-family: Langar;">Tele-Wizz-Ion Quiz</h4>
                          <p class="card-text">How well do you know about the televisions at your home? Do you know all the aspects to consider when looking for a new television? This world television day, we would like to test your skills on televisions</p>
                        </div>
                    </div>
    </div>
    <div class="col-md-4 col-sm-6" data-aos="fade-right">
                    <div class="card shadow h-100" style="width: 22rem;">
                        <div class="inner"><img src="/images/firstevent.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                          <h4 class="card-title" style="font-family: Langar;">Choosing The Right Smartphone</h4>
                          <p class="card-text">Our very first event at VIT. In a market with heavy competition with smartphones releasing every week with different ranges of price and specs, one can be really confused to choose the best smartphone that suits. We have come up with a session by Subhrojit Mallick, lead reviewer of Smartphones at digit.in to clear out the confusion and give you the knowledge about new smartphones.</p>
                        </div>
                    </div>
    </div>
    
  </div><br>
  <h4 style="text-align: center;">More Events Coming Soon! Stay Tuned</h4>
  
  </div>

<br>
    <footer id="contact-us">
      <div class="footer-container">
        <!-- <div class="row"> -->
        <!-- <div class="col col-lg-4">
          <h2>Write To Us</h2>
          <div class="border"></div>
          <form action="mailto:digit-squad@digit.in" method="post" enctype="text/plain" class="newsletter-form">
            <div class="form-group">
              <input type="text" name="Name" class="txtb2" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group">
              <input type="email" name="Email" class="txtb2" placeholder="Enter Your Email" required>
            </div>
            <div class="form-group">
              <input type="tel" name="Mobile_Number" class="txtb2" placeholder="Enter Your Mobile Number" required>
            </div>
            <div class="form-group">
              <textarea name="Message" class="txtb2" id="txtarea"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="btn-submit" value="submit">
            </div>
            
          </form>
        </div> -->
        <!-- <div class="col col-lg-auto">
          <h2>Our Newsletter</h2>
          <div class="border"></div>
          <h5>Enter your <strong>email</strong> to get our news and updates.</h5>
          <form action="https://formspree.io/f/xrgoyobr" method="post" enctype="text/plain" class="newsletter-form form-inline">
            <div class="form-group">
              <input type="text" name="Email" class="txtb" placeholder="Enter Your Email" required>
            </div>
            <input type="submit" class="btn-submit" value="submit">
          </form>
        </div> 
        </div>  -->
      </div>
      <div class="social-media" style="text-align: center;">
          <h4>Mail to us at :- <strong><a href="mailto:digitsquad@vit.ac.in">digitsquad@vit.ac.in</a></strong></h4>
          </div>
          <div class="social-media" style="text-align: center;">
            <h4>Follow us on :- </h4>
            <a class="social-links" target="_blank" href="https://www.facebook.com/digitsquadvitv"><i class="fab fa-facebook fa-2x"></i></a><a
            class="social-links" target="_blank" href="https://www.instagram.com/digitsquad_vit/"> <i
              class="fab fa-instagram-square fa-2x"></i></a> <a class="social-links" target="_blank" href="https://www.linkedin.com/company/digitsquadvitv/mycompany/"><i
              class="fab fa-linkedin fa-2x"></i></a>          </div>
          <p class="rights-text" style="text-align: center;">© 2020 Created By DigitSQUAD VIT</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.3/glider.min.js" integrity="sha512-NI5tuaiyhrV4EkyHBGHJj9uaL6uu7fz/WCoMnEwvHi8WXTKZ9f8P1v517sdTGVpT31/UEHRdLMuNdPon9F3HUg==" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
<script>
    const hamburger = document.querySelector('.hamburger');
const navlinks = document.querySelector('.nav-links');
const links = document.querySelectorAll('.nav-links li');
const lines = document.querySelectorAll('.line');

hamburger.addEventListener('click', () => {
	navlinks.classList.toggle('open');
	links.forEach((link) => {
		link.classList.toggle('fade');
	});
	lines.forEach((line) => {
		line.classList.toggle('cross');
	});
});

</script>
 <script>
    
    (function($) {
  $.fn.timeline = function() {
    var selectors = {
      id: $(this),
      item: $(this).find(".timeline-item"),
      activeClass: "timeline-item--active",
      img: ".timeline__img"
    };
    selectors.item.eq(0).addClass(selectors.activeClass);
    selectors.id.css(
      "background-image",
      "url(" +
        selectors.item
          .first()
          .find(selectors.img)
          .attr("src") +
        ")"
    );
    var itemLength = selectors.item.length;
    $(window).scroll(function() {
      var max, min;
      var pos = $(this).scrollTop();
      selectors.item.each(function(i) {
        min = $(this).offset().top;
        max = $(this).height() + $(this).offset().top;
        var that = $(this);
        if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
          selectors.item.removeClass(selectors.activeClass);
          selectors.id.css(
            "background-image",
            "url(" +
              selectors.item
                .last()
                .find(selectors.img)
                .attr("src") +
              ")"
          );
          selectors.item.last().addClass(selectors.activeClass);
        } else if (pos <= max - 40 && pos >= min) {
          selectors.id.css(
            "background-image",
            "url(" +
              $(this)
                .find(selectors.img)
                .attr("src") +
              ")"
          );
          selectors.item.removeClass(selectors.activeClass);
          $(this).addClass(selectors.activeClass);
        }
      });
    });
  };
})(jQuery);

$("#timeline-1").timeline();

    </script>
    <script>
   

AOS.init({
  duration: 2200,
})
    </script>
</body>
</html>