<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DigitSQUAD VIT Vellore</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  <link rel="icon" href="/images/digitsquad logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://www.fontzip.com/storage/2018/10/10/azonix/webfonts/Azonix.css" rel="stylesheet" />
  <link href="http://fonts.cdnfonts.com/css/sheeping-cats" rel="stylesheet">
  <link href="//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/595e6dc6ddf5d4d1c915fe652fc95801?family=Mandalore+Laser" rel="stylesheet" type="text/css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/stylesheets/glider.css">
  <style>
    #tech-updates-header {
      font-family: sans-serif;
      margin: auto;
      margin-bottom: 2%;
      text-align: center;
      font-size: 40px;
      max-width: 600px;
      position: relative;
      color: white;
      font-weight: 500;
    }


    #tech-updates {
      padding: 5%;
      padding-top: 3%;
      background-color: #404c5e;
      color: white;
      font-weight: 500;
      font-size: larger;
    }
  </style>
</head>

<body style="background-color: #0f1011; color:rgb(197, 247, 225); overflow-x: hidden;">
  <!--CSS Spinner-->
  <div class="spinner-wrapper">
    <div class="spinner"></div>
  </div>



  <nav class="sticky-top">

    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="nav-links">
      <li><a href="/"><img src="/images/Watermark 1.png" height="44px" width="105px" id="logo_club"></a></li>
      <li id="gone"></li>
      <li id="gone"></li>
      <li id="gone"></li>
      <li id="gone"></li>
      <li id="gone"></li>
      <li id="gone"></li>
      <li><a href="#about-us">About</a></li>
      <li><a href="/Tech-Updates">Tech-Updates</a></li>
      <li><a href="/Events">Events</a></li>
      <li><a href="/Blogs">Articles</a></li>
      <li><a href="/Team">Our Team</a></li>
    </ul>
  </nav>
  <br>

  <div class=" landing" style="z-index: -3;" data-aos="fade-up">
    <div class="main-txt">
      <span class="we_are">We Are A Team Of</span>

      <div>
        <span class="typer" id="main" data-delay="50" data-deletedelay="2000" data-colors="#00C9FF"
          data-words="Tech Enthusiasts!,Geeks!!,Gadget Freaks!!!"></span>
        <span class="cursor" style="margin-left: -3px;" data-owner="main" data-cursorDisplay="|"></span>
      </div>
    </div>
    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>


  </div>
  <br>
  <br>
  <!-- About Us -->
  <div class="container" data-aos="fade-up">
    <div id="about-us" style="border: 8px double 	#000000; background-color: 	#05053d;">
      <div id="about-us-header" style="font-family: Russo One; ">About Us </div>
      <p style="text-align: justify;">
      The club was formed as a group of premier technology enthusiasts in VIT, who practically live and sense all things
      technology. Not only to learn how to manufacture and work in the industry of tech but the club would practically
      want to see people use technology in the best way possible. Getting the most out of technology in the right way is
      our vision.</p>
      <br>
      <h1 id="abc" style="float: right; color: #FC3C39;letter-spacing: 3px; text-shadow: 0.5px 0 0 #000, 0 -0.5px 0 #000, 0 0.5px 0 #000, -0.5px 0 0 rgb(163, 91, 91);
      ">For The Love Of All
        Things Tech</h1>
      <br>
    </div>
  </div>
  <br>
  <!-- <div class="container" data-aos="fade-up"> 
        <div id="recruitment" style="border: 8px double #5d6b81;">
            <div id="about-us-header" style="font-family: Russo One;">Recruitments    </div>
        <h2 id="scan">Scan the QR Code :-</h2> <br>
        <img src="/images/qrcode.jpg" alt="code" width="200px" >
        &nbsp; OR &nbsp; &nbsp;
        <a href="https://linktr.ee/digitsquadvitv" target="_blank"  ><button class="btn btn-primary btn-lg">Click Here!</button></a>
        <br>
        </div>
    </div>
  <br> -->
  <!-- timeline of events -->
  <div class="container">
    <h1 id="events-header" style="font-family: Russo One;">Latest Events</h1>
    <div class="timeline-container">

      <div class="event" data-aos="fade-right">
        <div class="event-date">05<sup>th</sup> May 2021</div>
        <h2 style="color:rgb(164, 245, 245) ;">The Smartphone Games</h2>
        <div class="timeline-content">
          <img src="/images/eighth.png" width="100%" height="100%" style="margin-top: 6px;">
          <br>
          <p style="text-align: justify;">
            There are many companies which produce smartphones, and each company tries to survive
            by producing the right product identifying the consumer group and their preferences. Some phones are high
            on budget and some phones are really pocket friendly offering decent quality and specs. We have dived deep
            into the facts for different companies and their smartphone game.
          </p>
        </div>
      </div>


      <div class="event" data-aos="fade-right">
        <div class="event-date">10<sup>th</sup> April 2021</div>
        <h2 style="color:rgb(164, 245, 245) ;">FADING BOUNDARY BETWEEN MAN & MACHINE</h2>
        <div class="timeline-content">
          <img src="/images/seventh.png" width="100%" height="100%" style="margin-top: 6px;">
          <br>
          <p style="text-align: justify;">
            DigitSQUAD is back with another exciting event! As we get closer to the gadgets we use,
            and machines gaining the capability of what a man can do... We have closely analysed and took a peek into
            the Boundary which divides a man and a machine. And how it's slowly fading out of existence.
          </p>
        </div>
      </div>
      <div class="event" data-aos="fade-right">
        <div class="event-date">23<sup>rd</sup>Feb 2021</div>
        <h2 style="color:rgb(164, 245, 245) ;">AR vs VR</h2>
        <div class="timeline-content">
          <img src="/images/sixth.png" width="100%" height="100%" style="margin-top: 6px;">
          <p style="text-align: justify;">Ever heard of Pokemon Go? Well if you have, you’ve witnessed first hand, the wizardry
            that we tech buffs call Augmented Reality. Technology has opened up a whole new way of making our devices
            useful by making us experience the digital just like we experience the world we live in. Simply point your
            camera at what you see, and have your answers where your questions are! Confused? Well, get excited as
            DigitSquad brings to you the magic of AR/ VR. You’ve caught Pokemon till now, it’s time to catch the tech
            revolution.</p>

        </div>
      </div>







    </div>
    <a href="/Events"><button class="btn btn-primary btn-lg" style="float: right;">More Events</button></a>
    <br>
  </div>
  <br>
  <hr>
  <br>
  <div class="container" data-aos="fade-up">
    <div id="tech-updates" style="border: 8px double #000000;;background-color: #05053d;">
      <div id="tech-updates-header" style="font-family: Russo One;">Tech Updates </div>
      <div class="glider-contain" id="TechBytes" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="linear">
        <div class="glider">
          <img src="/images/techbytes1.png" alt="First slide" height="300px" width="180px">
          <img src="/images/techbytes2.png" alt="Second slide" height="300px" width="180px">
          <img src="/images/techbytes3.png" alt="Third slide" height="300px" width="180px">
          <img src="/images/techbytes4.png" alt="Fourth slide" height="300px" width="180px">
          <img src="/images/techbytes5.png" alt="Fifth slide" height="300px" width="180px">

        </div>

        <button aria-label="Previous" class="glider-prev"> <i class="fas fa-arrow-circle-left fa-1x"
            id="left-button"></i></button>
        <button aria-label="Next" class="glider-next"> <i class="fas fa-arrow-circle-right fa-1x"
            id="right-button"></i></button>
        <div role="tablist" class="dots"></div>
      </div>
      <br>
      <a href="/Tech-Updates"><button class="btn btn-info btn-lg" style="float: right;">View More</button></a>
    </div>
  </div>
  <div class="hr_line"><i class="fas fa-genderless"></i> <i class="fas fa-genderless"></i> <i
      class="fas fa-genderless"></i></div>
  <footer id="contact-us" style="background-color: #1b1d1f;">
    <div class="footer-container">
      <!-- <div class="row"> -->
      <!-- <div class="col col-lg-4">
          <h2>Write To Us</h2>
          <div class="border"></div>
          <form action="mailto:digit-squad@digit.in" method="post" enctype="text/plain" class="newsletter-form">
            <div class="form-group">
              <input type="text" name="Name" class="txtb2" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group">
              <input type="email" name="Email" class="txtb2" placeholder="Enter Your Email" required>
            </div>
            <div class="form-group">
              <input type="tel" name="Mobile_Number" class="txtb2" placeholder="Enter Your Mobile Number" required>
            </div>
            <div class="form-group">
              <textarea name="Message" class="txtb2" id="txtarea"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="btn-submit" value="submit">
            </div>
            
          </form>
        </div> -->
      <!-- <div class="col col-lg-auto">
          <h2 >Our Newsletter</h2>
          <div class="border"></div>
          <h5>Enter your <strong>email</strong> to get our news and updates.</h5>
          <form action="https://formspree.io/f/xrgoyobr" method="post" enctype="text/plain" class="newsletter-form form-inline">
            <div class="form-group">
              <input type="text" name="Email" class="txtb" placeholder="Enter Your Email" required>
            </div>
            <input type="submit" class="btn-submit" value="submit">
          </form>
        </div> 
        </div>  -->
    </div>
    <div class="social-media" style="text-align: center;">
      <h4>Mail us at :- <strong><a href="mailto:digitsquad@vit.ac.in"
            >digitsquad@vit.ac.in</a></strong></h4>
    </div>
    <div class="social-media" style="text-align: center;">
      <h4>Follow us on :- </h4>
      <a class="social-links" target="_blank" href="https://discord.com/invite/mRtjcQwBDK"><i
          class="fab fa-discord fa-2x" ></i></a>
      <a class="social-links" target="_blank" href="https://www.facebook.com/digitsquadvitv"><i
          class="fab fa-facebook fa-2x" ></i></a><a class="social-links" target="_blank"
        href="https://www.instagram.com/digitsquad_vit/"><i class="fab fa-instagram fa-2x"
          ></i></a><a class=" social-links" target="_blank" href="https://in.linkedin.com/"><i
            class="fab fa-linkedin fa-2x"></i></a> 
    </div>
    <p class=" rights-text" style="text-align: center; color: #fff;">© 2020 Created By DigitSQUAD VIT</p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.3/glider.min.js"
    integrity="sha512-NI5tuaiyhrV4EkyHBGHJj9uaL6uu7fz/WCoMnEwvHi8WXTKZ9f8P1v517sdTGVpT31/UEHRdLMuNdPon9F3HUg=="
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
    crossorigin="anonymous"></script>
  <script>
    const hamburger = document.querySelector('.hamburger');
    const navlinks = document.querySelector('.nav-links');
    const links = document.querySelectorAll('.nav-links li');
    const lines = document.querySelectorAll('.line');

    hamburger.addEventListener('click', () => {
      navlinks.classList.toggle('open');
      links.forEach((link) => {
        link.classList.toggle('fade');
      });
      lines.forEach((line) => {
        line.classList.toggle('cross');
      });
    });

  </script>
  <script>

    (function ($) {
      $.fn.timeline = function () {
        var selectors = {
          id: $(this),
          item: $(this).find(".timeline-item"),
          activeClass: "timeline-item--active",
          img: ".timeline__img"
        };
        selectors.item.eq(0).addClass(selectors.activeClass);
        selectors.id.css(
          "background-image",
          "url(" +
          selectors.item
            .first()
            .find(selectors.img)
            .attr("src") +
          ")"
        );
        var itemLength = selectors.item.length;
        $(window).scroll(function () {
          var max, min;
          var pos = $(this).scrollTop();
          selectors.item.each(function (i) {
            min = $(this).offset().top;
            max = $(this).height() + $(this).offset().top;
            var that = $(this);
            if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
              selectors.item.removeClass(selectors.activeClass);
              selectors.id.css(
                "background-image",
                "url(" +
                selectors.item
                  .last()
                  .find(selectors.img)
                  .attr("src") +
                ")"
              );
              selectors.item.last().addClass(selectors.activeClass);
            } else if (pos <= max - 40 && pos >= min) {
              selectors.id.css(
                "background-image",
                "url(" +
                $(this)
                  .find(selectors.img)
                  .attr("src") +
                ")"
              );
              selectors.item.removeClass(selectors.activeClass);
              $(this).addClass(selectors.activeClass);
            }
          });
        });
      };
    })(jQuery);

    $("#timeline-1").timeline();

  </script>
  <script>
    new Glider(document.querySelector('.glider'), {
      slidesToShow: 3,
      slidesToScroll: 1,
      draggable: true,
      dots: '.dots',
      arrows: {
        prev: '.glider-prev',
        next: '.glider-next'
      }
    });
    AOS.init({
      duration: 2200,
    })
  </script>
  <script>
    $(document).ready(function () {
      //Preloader
      preloaderFadeOutTime = 500;
      function hidePreloader() {
        var preloader = $('.spinner-wrapper');
        preloader.fadeOut(preloaderFadeOutTime);
      }
      hidePreloader();
    });
  </script>
</body>

</html>